.container {
    width: 500px;
    margin: 0 auto;
}

#adicionarTarefas {
    display: flex;
    gap: 0.5rem;
}

#adicionarTarefas input {
    border: 1px solid black;
    height: 2rem;
    width: 30rem;
    padding: 0 0.5rem;
}

#adicionarTarefas button {
    background-color: #F4B200;
    width: 3rem;
    border: none;
}

#listaTarefas {
    list-style: none;
    word-wrap: break-word;
    padding: 0;
    border: 1px solid #EBEBEC;
  }

  #listaTarefas li {
    padding: 0.5rem 1rem;
  }

  #listaTarefas li:nth-child(odd) {
    background-color: #f6f6f6;
  }